.container{
    display: flex;
    width: 100vw;
    height: 100vh;
}
.litle-field{
    width:25%; 
    min-width: 25%;
    height: 100%;
    background-color: #0081c5;
    padding: 35px 50px;
}
.big-field{
    display: flex;
    width: 50%;
    height: 100%;
    background-color: #2ba9ea;
}
.player1-field{
    width: 100%;
    height: 48px;
    border-radius: 10px;
    padding-left: 15px;
    outline: none;
    border: 1px solid #2ba9ea;
}
.player1-field:focus{
    border: 1px solid white;
}
.input-player2{
    display: flex;
    align-items: center;
    width: 100%;
    height: 48px;
    background-color: white;
    border-radius: 10px;
    margin-top: 20px;
    border: 1px solid white;
    position: relative;
}
.input-player2:focus-within{
    border: 1px solid #2ba9ea;
}
.box-wrapper{
    display: flex;
    align-items: center;
    width: 56px;
    min-width: 56px;
    height: 32px;
    min-height: 32px;
    border-radius: 100px;
    background-color: #2ba9ea;
    margin-right: 9px;
}
.player2-field{
    border: transparent;
    width: 100%;
    height: 100%;
    outline: none;
    border-radius: 10px;
    padding-left: 15px;
}
.scroll-ball{
    width: 24px;
    height: 24px;
    background-color: white;
    border-radius: 20px;
    right: 38px;
    position: absolute;
    transition: 300ms;
}
.scroll-ball:hover{
    right: 12px;
}
.match-type-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}
.choice-field-match{
    font-weight: 700;
    color: #45f391;
    font-size: 16px;
}
.choice-match{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 15px;
}
.choice-title{
    font-weight: 400;
    font-size: 16px;
    color: white;
}
.box-match{
    display: flex;
    background-color: #2ba9ea;
    border: 2px solid white;
    position: relative;
}
.choice-white{
    background-color: white;
    right: 26px;
    position: absolute;
}
.choice-white:hover{
    right: 4px;
    border: 1px solid white;
}
.button{
    width: 100%;
    height: 54px;
    border-radius: 10px;
    font-weight: 500;
    font-size: 24px;
    border: none;
    box-shadow: 0 4px 4px #00000040;
    transition: 300ms;
}
.button:hover{
    box-shadow: 0 0 0 #00000040;
}
.button-start-game{
    background-color: #45f391;
    color: white;
    margin-top: 45px;
}
.match-history-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 38px;
    gap: 20px;
}
.match-history-title{
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    color: white;
}
.winner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 168px;
    height: 50px;
    background-color: white;
    border-radius: 10px;
    gap: 3px;
    padding: 0 15px;
    margin-top: 20px;
}
.winner-title{
    font-size: 14px;
    font-weight: 700;
    color: #45f391;
}
.winner-player{
    color: #828282;
    font-size: 14px;
    font-weight: 400;
    margin-top: 2px;
}
.scene-separatior{
    font-size: 14px;
    font-weight: 400;
    color: white;
}
.scenary-box-game{
    display: flex;
    width: 510px;
    flex-wrap: wrap;
    gap: 15px;
}
.scenary-game-box{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 160px;
    min-width: 160px;
    height: 160px;
    min-height: 160px;
    border-radius: 15px;
    background-color: white;
    color: #828282;
    font-size: 130px;
    font-weight: 700;
}